<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{%- comment -%}
  Only show a static screenshot inside the iPhone frame.
  Video playback is intentionally disabled for now to keep the
  landing page light and predictable.
{%- endcomment -%}

{% for file in site.static_files %}
  {% if file.path contains 'assets/screenshot/' %}
    <script>
      $(function() {
        $(".iphoneScreen").attr('src', '{{ site.github.baseurl }}{{ file.path }}');
        $(".iphoneScreen").removeClass("hidden");
        console.log("screenshot loaded: {{ file.path }}");
      });
    </script>
  {% endif %}
{% endfor %}
