<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% assign vista_mp4 = site.static_files | where: "path", "assets/videos/VistaLoading.MP4" %}
{% assign vista_webm = site.static_files | where: "path", "assets/videos/VistaLoading.webm" %}

{% if vista_mp4.size > 0 or vista_webm.size > 0 %}
  <script>
    $(function() {
      $(".iphoneScreen").addClass("hidden");
      $(".videoContainer").removeClass("hidden");
      {% if vista_mp4.size > 0 %}
        $(".screenvideo").append('<source src="{{ site.github.baseurl }}{{ vista_mp4[0].path }}" type="video/mp4">');
      {% endif %}
      {% if vista_webm.size > 0 %}
        $(".screenvideo").append('<source src="{{ site.github.baseurl }}{{ vista_webm[0].path }}" type="video/webm">');
      {% endif %}
      $(".screenvideo")[0].load();
    });
  </script>
{% else %}
  {% for file in site.static_files %}
    {% if file.path contains 'assets/screenshot/' %}
      <script>
        $(function() {
          $(".iphoneScreen").attr('src', '{{ site.github.baseurl }}{{ file.path }}');
          $(".iphoneScreen").removeClass("hidden");
          console.log("screenshot loaded: {{ file.path }}");
        });
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
